@import "tailwindcss";

@theme {
    --color-primary: #2bee79;
    --color-background-light: #f6f8f7;
    --color-background-dark: #102217;
    --color-surface-dark: #1c2e24;
}

body {
    background-color: var(--color-background-dark);
    color: var(--primary);
    font-family: "Inter", Arial;
}

@layer utilities {
    /* Ocultar en Chrome, Safari y Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Ocultar en Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE y Edge */
        scrollbar-width: none;
    }
}

#scrool-bar::-webkit-scrollbar {
    display: none;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
