@import "tailwindcss";

@theme {
    --color-primary: #2bee79;
    --color-background-light: #f6f8f7;
    --color-background-dark: #102217;
    --color-surface-dark: #1c2e24;
}

body {
    background-color: var(--color-background-dark);
    color: var(--primary);
    font-family: "Inter", Arial;
}

@layer utilities {
    /* Ocultar en Chrome, Safari y Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Ocultar en Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE y Edge */
        scrollbar-width: none;
    }
}

#scrool-bar::-webkit-scrollbar {
    display: none;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tippy-box[data-theme~="soulful"] {
    background-color: var(--color-surface-dark);
    color: white;
    border: 1px solid color-mix(in srgb, var(--color-primary) 40%, transparent);
    font-size: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.tippy-box[data-theme~="soulful"] .tippy-arrow {
    color: var(--color-surface-dark);
}
