# Servidor
PORT=3001
# DB
PORT_DB=3306
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=soulfulart

# Cloudinary
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# API env variable

uploadPresetNameENV=

